site_name: FansDB Docs
site_url: https://docs.fansdb.cc
site_description: >-
  FansDB is invite-only crowdsourced metadata database focused on independent adult content creators and adult platforms.

repo_name: FansDB/docs
repo_url: https://github.com/FansDB/docs
edit_uri: edit/main/docs/

copyright: Copyright &copy; 2023 - 2024 FansDB

theme:
  name: material
  custom_dir: overrides
  features:
    - content.action.edit
    - content.action.view
    - search.highlight
    - search.share
    - navigation.instant
    - navigation.instant.progress
#    - content.code.copy
#    - content.code.annotate 
#    - navigation.tracking
    - navigation.tabs
#    - navigation.tabs.sticky
    - navigation.sections
    - toc.follow
    - navigation.top
#    - navigation.footer
    - navigation.indexes
    - content.tooltips
    - content.tabs.link
    - navigation.path
    - content.footnote.tooltips

  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      #primary: indigo
      #accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      #primary: red
      #accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  favicon: assets/images/favicon.png

plugins:
  - search
  - blog:
        blog_dir: updates
        post_date_format: yyyy-MM-dd
        post_url_date_format: yyyy/MM/dd
        authors: true
        authors_file: "{blog}/.authors.yml"
        categories_toc: false
        pagination: false
        post_readtime: true
        post_readtime_words_per_minute: 265
  - rss:
      match_path: updates/posts/.* 
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags   
      comments_path: "#__comments"
  - git-revision-date-localized:
      enable_creation_date: true
  - glightbox
  - social:
      enabled: !ENV [CI, false]
  - redirects:
      redirect_maps:
        'news/posts/2023-10-01-launch-of-fansdb-docs.md': 'updates/posts/2023-10-01-launch-of-fansdb-docs.md'
        'news/posts/2023-10-23-how-to-join-fansdb.md': 'updates/posts/2023-10-23-how-to-join-fansdb.md'
        'news/posts/2023-10-26-big-change-with-fansdb.md': 'updates/posts/2023-10-26-big-change-with-fansdb.md'
        'news/posts/2023-11-17-new-domain.md': 'updates/posts/2023-11-17-new-domain.md'
        'news/posts/2024-01-20-FansDB-scope-expansion-new-platforms.md': 'updates/posts/2024-01-20-FansDB-scope-expansion-new-platforms.md'
        'news/posts/2024-02-06-docs-site-revamp.md': 'updates/posts/2024-02-06-docs-site-revamp.md'
        'news/posts/2024-02-22-guidelines-structure-update.md': 'updates/posts/2024-02-22-guidelines-structure-update.md'
        'news/posts/2024-02-23-approved-networks.md': 'updates/posts/2024-02-23-approved-networks.md'
        'news/posts/2024-04-25-approved-networks.md': 'updates/posts/2024-04-25-approved-networks.md'
        'news/posts/2024-10-19-approved-networks.md': 'updates/posts/2024-10-19-approved-networks.md'
        'news/posts/2024-12-17-approved-networks.md': 'updates/posts/2024-12-17-approved-networks.md'
        'news/posts/2024-12-19-link-guideline.md': 'updates/posts/2024-12-19-link-guideline.md'
        'news/posts/2025-01-19-new-stash-box-version.md': 'updates/posts/2025-01-19-new-stash-box-version.md'
        'news/posts/2025-02-05-new-stash-box-version.md': 'updates/posts/2025-02-05-new-stash-box-version.md'
        'news/posts/2025-02-06-guidelines-update.md': 'updates/posts/2025-02-06-guidelines-update.md'
        'news/posts/2025-03-10-performer-alias-guideline-change.md': 'updates/posts/2025-03-10-performer-alias-guideline-change.md'


watch:
  - includes

markdown_extensions:
  - attr_list
  - md_in_html
  - abbr
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - footnotes
  - tables
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - toc:
      permalink: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Guidelines:
    - guidelines/index.md
    - Performers: performers.md
    - Scenes: scenes.md
    - Studios: studios.md
    - Tags: tags.md
    - Networks: networks.md
  - Guides:
    - guides/index.md
    - Scraping scenes via FansDB: guides/scraping-scenes-via-fansdb.md
    - Submitting content to FansDB: guides/submitting-content-to-fansdb.md
    - Updating content on FansDB: guides/updating-content-on-fansdb.md
  - News:
    - news/index.md

extra:
  social:
    - icon: simple/opencollective
      link: https://opencollective.com/stashapp
    - icon: fontawesome/brands/github
      link: https://github.com/FansDB
    - icon: simple/discord
      link: https://discord.gg/dhJaFAgYAj
#    - icon: simple/codeberg
#      link: https://codeberg.org/FansDB

extra_css:
  - stylesheets/extra.css